.sign-in{
    text-align:center;

    .info{
        margin-bottom:100px;
    }

    button{
        width:200px;
        height:40px;
        background-color:#1d7bff;
        color:#ffffff;
        border-radius:10px;
        border:none;
        margin:20px 0;
    }

    label{
        margin-right:20px;
    }

    input{
        width:200px;
    }



}