.sign-in{
    text-align:center;

    h2{
        margin:0;
        padding-top:50px;
    }

    .info{
        margin-bottom:100px;
    }

    .firebaseui-title,
    .firebaseui-tos,
    .firebaseui-phone-tos,
    .firebaseui-text{
        display:none;
    }

    .firebaseui-id-resend-countdown.firebaseui-hidden{
        display:none;
    }

    .firebaseui-id-resend-countdown{
        display:none;
    }

    .firebaseui-id-resend-link.firebaseui-link{
        color:#ffffff;
    }

    .firebaseui-id-country-selector.firebaseui-country-selector.mdl-button.mdl-js-button{
        display:none
    }

    button{
        width:100px;
        height:20px;
        background-color:#1d7bff;
        color:#ffffff;
        border-radius:4px;
        border:none;
        margin:20px 10px;
    }

    label{
        margin-right:20px;
    }

    input{
        width:200px;
    }



}