.my-page{

    div{
        margin:0 auto;
        width: 800px;
    }

    h2{
        text-align: center;
        padding: 20px 0;
        margin:0;
    }

    h5{
        margin:10px 0;
    }

    ul{
        list-style:none;

        li{
            padding:20px;
            margin-bottom:10px;
            border-top:1px solid #ffffff;
            box-shadow: 1px 1px 4px gray;

            .seat-num{
                max-width:800px;
                div{
                    text-indent:20px;
                    font-size:14px;
                }
            }

            span{
                margin-right:4px;

            }
        }
    }
}