.my-page{

    &>div{
        margin:0 auto;
        width: 800px;
    }

    h2{
        text-align: center;
        margin: 0 0 10px 0;
        padding-top: 50px
    }

    p{
        display:inline-block;
        margin: 4px 10px;
    }

    ul{
        list-style:none;

        li{
            padding:20px;
            margin-bottom:10px;
            box-shadow: 1px 1px 4px gray;
            background-color:#ffffff;

            button.warning{
                margin-top:6px;
            }

            .guest-info{
                display:flex;

                p{
                    flex-grow:2;
                }

                button{
                    flex-grow:0;
                }
            }

            .seat-num{
                max-width:800px;
                border-top: 1px solid rgba(0, 0, 0, 0.5);
                margin-top: 20px;
                padding-top: 10px;
            }

            span{
                margin-right:4px;

            }
        }
    }
}