.my-page{
    margin: 40px auto;
    width: 800px;
    display: block;

    h2{
        text-align: center;
    }

    h5{
        margin:10px 0;
    }

    ul{
        list-style:none;

        li{
            background-color: #878787;
            padding:20px;
            margin-bottom:10px;
            border-radius:4px;
            .seat-num{
                max-width:800px;
            }

            span{
                margin-right:4px;

            }
        }
    }
}