.my-page{
    margin: 40px auto;
    width: 800px;
    display: block;

    h2{
        text-align: center;
    }

    ul{
        list-style:none;

        li{
            border: 1px solid #ffffff;
            padding:5px;
            margin-bottom:5px;

            .seat-num{
                max-width:800px;
            }

            span{
                margin-right:4px;

            }
        }
    }
}