.booking{
  margin: 40px auto;
  width:800px;
  display: block;

  .info{
    text-align:center;

    span{
      display:block;
      margin-bottom:30px;
    }
  }

  .btn-wrapper{
    width:800px;
    text-align:center;
    padding-right:40px;
    box-sizing:border-box;
    margin: 40px 0;

    button{
      width:100px;
      height:26px;
      border:none;
      background-color: #1d7bff;
      color:#ffffff;
      margin-left:20px;
    }
  }

  select{
    width:100px;
    height:26px;
    border:none;
  }

  section{
    display:flex;
  }

  .stage{
    box-sizing: border-box;
    font-size:20px;
    line-height:100px;
    text-align:center;
    width:800px;
    height:100px;
    border:4px solid white;
    margin:30px 0;
    padding-right:40px;
  }

  .aisle{
    font-size:20px;
    line-height:40px;
    text-align:center;
    width:800px;
    height:40px;
    padding-right:40px;
    box-sizing:border-box;
  }
}