.admin{

    h2, h4{
        text-align:center;
        margin:0;
        padding-top:40px;
    }

    .admin-login{
        margin-top:0;
        padding-top:200px;
        text-align:center;
        max-width: none;
        button{
            margin-left:10px;
        }
    }

    div{
        max-width:800px;
        ul{
            list-style:none;
            margin-top:50px;

            li{
                list-style:none;
                padding:10px;
                border-top:1px solid #ffffff;
                box-shadow: 1px 1px 4px gray;
                margin-bottom:10px;
            }

            div{
                display:inline-block;
                min-width:200px;

                span{
                    display:block;
                    margin:10px 0;
                }
            }

            .seat-num{
                display:block;
                font-size:12px;
                text-indent:10px;
            }
        }
    }


    .total-list{
        padding:10px;
    }

    .zone-list{
        padding:10px;
        font-size:14px;
        select{
            display: block;
            width:200px;
            margin: 10px auto;
            font-size:16px;
        }
    }


}