.seat{
    display:block;
    float:left;
    text-align: center;
    width:20px; height:20px;
    border-radius:2px;
    margin-right:2px;
    margin-top:4px;
    font-size:10px;
    line-height:20px;

    &.reserved{
        background-color: #8a8a8a;
        cursor: not-allowed;

        &:hover{
            background-color: #8a8a8a;
        }
    }

    &.empty{
        background-color: transparent;
        cursor: default;
    }

    &.valid{
        background-color:#1a7388;
        color:#ffffff;
        cursor:pointer;

        &:hover{
            background-color: #2295b0;
        }

        &.selected{
            background-color: #36c7da;
        }
    }

}