.modal-wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
    z-index: 10;
    display: none;
    position: fixed;
    top:0;
    left: 0;

    &.show{
        display:block;
    }

    .modal-booking{
        width:500px;
        min-height:300px;
        max-height:600px;
        position:absolute;
        top:100px;
        overflow-y: auto;
        background-color: #dadada;
        border-radius: 10px;
        padding:20px;
        text-align:center;
        left: 50%;
        transform: translateX(-50%);

        ul{
            list-style: none;
            line-height: 25px;
            padding:0;
        }

        form{
            padding-top:20px;
            margin-top:20px;

            div{
                margin-bottom:10px;
            }

            input{
                margin: 0 10px 0 10px;
            }

            p{
                display:inline;
                color: #ff134b;
                font-weight:600;
            }
        }

    }

}

