@import url('https://fonts.googleapis.com/css?family=Bad+Script|Nanum+Gothic|Stylish|Nanum+Myeongjo|Noto+Sans+KR:100,300,500');

@font-face{
  font-family:"IropkeBatangM";
  src:url("./Fonts/IropkeBatangM.eot");
  src:url("./Fonts/IropkeBatangM.woff");
  src:url( "./Fonts/IropkeBatangM.eot?#iefix") format('embedded-opentype'),
  url( "./Fonts/IropkeBatangM.woff" ) format('woff')
}

body{
  //background-color: #1b1b1b;
  color: #444444;
  font-family: 'IropkeBatangM', serif;
  background-color: #5d8865;


  .background-gradation{
    min-height: 900px;
    padding:0 100px 90px;
    background: linear-gradient(146deg, rgba(203,231,237,1)17%, rgb(244, 248, 247) 59%);
  }

  section{
    margin-top:50px;

    div{
      margin: 0 auto;
    }
  }

  .btn-wrapper{

    margin:40px 0;
    text-align:center;

    .custom-btn{
      min-width:100px;
      height:20px;
      background-color:#999999;
      color:#ffffff;
      border-radius:4px;
      margin:2px;
      border:none;

      &.warning{
        background-color: #ff0050;
      }

      &.go-on{
        background-color: #089363;
      }

      &.admit{
        background-color: #0e93ff;
      }
    }
  }
}

