.Nav{
  width:100%;
  min-height:40px;
  line-height:40px;
  background-color: #8a8a8a;
  font-family: 'Stylish', sans-serif;


  ul{
    list-style:none;
    margin:0 20px;
    display:flex;

    li{
      margin-right:40px;
      flex:1 1 0;
      text-align:center;

      a{
        text-decoration: none;
        color:#ffffff;
        font-size:20px;
      }
  }
  }
}