.Nav{
    width:100%;
    min-height:50px;
    line-height:50px;
    background-color: #5d8865;
    color:#ffffff;
    font-family: 'Nanum Myeongjo', serif;
    position:fixed;
    top:0;
    box-shadow: 2px 0 8px grey;

    ul{
        list-style:none;
        margin:0 20px;
        display:flex;


        li{
            margin-right:40px;
            flex:1 1 0;
            text-align:center;

            a{
                text-decoration: none;
                color:#ffffff;
                font-size:18px;
                padding-bottom: 10px;
            &:hover{
                    font-weight:600;
                }
            }

            .selected{
                font-weight: 600;
                border-bottom:6px solid #b2d8c8;
            }
        }
    }
}