.mobile{
    width:100%;
    height:100%;
    min-height:2000px;
    text-align:center;
    padding-top:100px;
    background: linear-gradient(146deg, rgba(203,231,237,1)17%, rgb(244, 248, 247) 59%);
}